<?xml version='1.0' encoding='utf-8'?>
<plugin id="software.mplus.cordova-pdf-viewer" version="0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>PdfViewer</name>
    <author>M+ Software http://mplus.software</author>
    <licence>MIT</licence>
    <js-module name="CordovaPdfViewer" src="www/CordovaPdfViewer.js">
        <clobbers target="pdfViewer" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaPdfViewer">
                <param name="ios-package" value="CordovaPdfViewer" />
            </feature>
        </config-file>

        <header-file src="src/ios/CordovaPdfViewer.h" />
        <source-file src="src/ios/CordovaPdfViewer.m" />
        <header-file src="src/ios/MyReaderDocument.h" />
        <source-file src="src/ios/MyReaderDocument.m" />

        <header-file src="src/ios/PDFReader/PDFKit/Annotation.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/Annotation.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/ARCMacros.h"/>
        <header-file src="src/ios/PDFReader/PDFKit/CGPDFDocument.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/CGPDFDocument.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/File.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/File.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFColorBarPicker.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFColorBarPicker.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFColorIndicatorView.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFColorIndicatorView.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFColorPicker.h"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFColorPickerController.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFColorPickerController.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFColorPickerNavigationController.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFColorPickerNavigationController.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFColorSquarePicker.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFColorSquarePicker.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFConstants.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFConstants.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFContentPage.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFContentPage.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFContentTile.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFContentTile.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFContentView.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFContentView.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFDataManager.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFDataManager.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFDocument.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFDocument.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFDocumentOutline.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFDocumentOutline.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFDrawingTools.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFDrawingTools.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFDrawingView.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFDrawingView.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFDrawToolbar.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFDrawToolbar.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFHSBSupport.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFHSBSupport.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFKit.h"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFMainPagebar.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFMainPagebar.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFMainToolbar.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFMainToolbar.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFPopoverController.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFPopoverController.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFPopoverView.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFPopoverView.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFPropertyController.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFPropertyController.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFSourceColorView.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFSourceColorView.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFThumbCache.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFThumbCache.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFThumbFetch.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFThumbFetch.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFThumbQueue.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFThumbQueue.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFThumbRender.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFThumbRender.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFThumbRequest.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFThumbRequest.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFThumbView.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFThumbView.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFThumbsView.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFThumbsView.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFTouchView.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFTouchView.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/LazyPDFViewController.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/LazyPDFViewController.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/SPUserResizableView.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/SPUserResizableView.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/ThumbsMainToolbar.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/ThumbsMainToolbar.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/ThumbsViewController.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/ThumbsViewController.m"/>
        <header-file src="src/ios/PDFReader/PDFKit/UIXToolbarView.h"/>
        <source-file src="src/ios/PDFReader/PDFKit/UIXToolbarView.m"/>


        <resource-file src="src/ios/PDFReader/PDFKit/LazyPDFModel.xcdatamodeld"/>
        <resource-file src="src/ios/PDFReader/Assets.xcassets/AppIcon.appiconset/AppIcon-76.png"/>
        <resource-file src="src/ios/PDFReader/Assets.xcassets/AppIcon.appiconset/AppIcon-120.png"/>
        <resource-file src="src/ios/PDFReader/Assets.xcassets/AppIcon.appiconset/AppIcon-152.png"/>
        <resource-file src="src/ios/PDFReader/Assets.xcassets/AppIcon.appiconset/AppIcon-167.png"/>
        <resource-file src="src/ios/PDFReader/Assets.xcassets/AppIcon.appiconset/AppIcon-180.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/circle-but.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/circle-but@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/circlefill-but.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/circlefill-but@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/clear-but.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/clear-but@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/Default-568h@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/Default-667h@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/Default-736h@3x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/done-but.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/done-but@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/eraser-but.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/eraser-but@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/image-but.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/image-but@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/LazyPDF-Button-H.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/LazyPDF-Button-H@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/LazyPDF-Button-N.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/LazyPDF-Button-N@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/LazyPDF-Email.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/LazyPDF-Email@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/LazyPDF-Export.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/LazyPDF-Export@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/LazyPDF-Mark-N.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/LazyPDF-Mark-N@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/LazyPDF-Mark-Y.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/LazyPDF-Mark-Y@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/LazyPDF-Print.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/LazyPDF-Print@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/LazyPDF-Thumbs.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/LazyPDF-Thumbs@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/line-but.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/line-but@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/pen-but.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/pen-but@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/Pen-Button-Y.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/Pen-Button-Y@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/Pen-Button.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/Pen-Button@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/redo-but.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/redo-but@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/square-but.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/square-but@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/squarefill-but.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/squarefill-but@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/text-but.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/text-but@2x.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/undo-but.png"/>
        <resource-file src="src/ios/PDFReader/PDFKit/Images/undo-but@2x.png"/>

        <framework src="UIKit.framework"/>
        <framework src="Foundation.framework"/>
        <framework src="CoreGraphics.framework"/>
        <framework src="QuartzCore.framework"/>
        <framework src="ImageIO.framework"/>
        <framework src="MessageUI.framework"/>

    </platform>
</plugin>
